# **Nevronas Summer AI Program**

**Python Assignment-1**
Topic : Numbers and Strings
<br>
Created by : Uzumaki Boruto@nevronas

# Numbers and more in Python!

In this lecture, we will learn about numbers in Python and how to use them.

We'll learn about the following topics:

    1.) Types of Numbers in Python
    2.) Basic Arithmetic
    3.) Differences between classic division and floor division
    4.) Object Assignment in Python

## Types of numbers

Python has various "types" of numbers (numeric literals). We'll mainly focus on integers and floating point numbers.

Integers are just whole numbers, positive or negative. For example: 2 and -2 are examples of integers.

Floating point numbers in Python are notable because they have a decimal point in them, or use an exponential (e) to define the number. For example 2.0 and -2.1 are examples of floating point numbers. 4E2 (4 times 10 to the power of 2) is also an example of a floating point number in Python.

Throughout this course we will be mainly working with integers or simple float number types.

Here is a table of the two main types we will spend most of our time working with some examples:

<table>
<tr>
    <th>Examples</th> 
    <th>Number "Type"</th>
</tr>

<tr>
    <td>1,2,-5,1000</td>
    <td>Integers</td> 
</tr>

<tr>
    <td>1.2,-0.5,2e2,3E2</td> 
    <td>Floating-point numbers</td> 
</tr>
 </table>

 
 
Now let's start with some basic arithmetic.

### Basic Arithmetic

In [ ]:
# Addition
2+1

3

In [ ]:
# Subtraction
2-1

1

In [ ]:
# Multiplication
2*2

4

In [ ]:
# Division
3/2

1.5

In [ ]:
# Floor Division
7//4

1

**Whoa! What just happened? Last time I checked, 7 divided by 4 equals 1.75 not 1!**

The reason we get this result is because we are using "*floor*" division. The // operator (two forward slashes) truncates the decimal without rounding, and returns an integer result.

**So what if we just want the remainder after division?**

In [ ]:
# Modulo
7%4

3

4 goes into 7 once, with a remainder of 3. The % operator returns the remainder after division.

### Arithmetic continued

In [ ]:
# Powers
2**3

8

In [ ]:
# Can also do roots this way
4**0.5

2.0

In [ ]:
# Order of Operations followed in Python
2 + 10 * 10 + 3

105

In [ ]:
# Can use parentheses to specify orders
(2+10) * (10+3)

156

## Variable Assignments

Now that we've seen how to use numbers in Python as a calculator let's see how we can assign names and create variables.

We use a single equals sign to assign labels to variables. Let's see a few examples of how we can do this.

In [ ]:
# Let's create an object called "a" and assign it the number 5
a = 5

Now if I call *a* in my Python script, Python will treat it as the number 5.

In [ ]:
# Adding the objects
a+a

10

What happens on reassignment? Will Python let us write it over?

In [ ]:
# Reassignment
a = 10

In [ ]:
# Check
a

10

Yes! Python allows you to write over assigned variable names. We can also use the variables themselves when doing the reassignment. Here is an example of what I mean:

In [ ]:
# Check
a

10

In [ ]:
# Use A to redefine A
a = a + a

In [ ]:
# Check 
a

20

The names you use when creating these labels need to follow a few rules:

    1. Names can not start with a number.
    2. There can be no spaces in the name, use _ instead.
    3. Can't use any of these symbols :'",<>/?|\()!@#$%^&*~-+
    4. It's considered best practice (PEP8) that names are lowercase.
    5. Avoid using the characters 'l' (lowercase letter el), 'O' (uppercase letter oh), 
       or 'I' (uppercase letter eye) as single character variable names.
    6. Avoid using words that have special meaning in Python like "list" and "str"


Using variable names can be a very useful way to keep track of different variables in Python. For example:

In [ ]:
# Use object names to keep better track of what's going on in your code!
my_income = 100

tax_rate = 0.1

my_taxes = my_income*tax_rate

In [ ]:
# Show my taxes!
my_taxes

10.0

## Strings
Strings are used in Python to record text information, such as names. Strings in Python are actually a *sequence*, which basically means Python keeps track of every element in the string as a sequence. For example, Python understands the string "hello' to be a sequence of letters in a specific order. This means we will be able to use indexing to grab particular letters (like the first letter, or the last letter).

This idea of a sequence is an important one in Python and we will touch upon it later on in the future.

Now on we shall cover following topics in brief:

    1.) Creating Strings
    2.) Printing Strings
    3.) String Indexing and Slicing
    4.) String Properties
    5.) String Methods
    6.) Print Formatting

Creating a string

In [ ]:
# Single word
'hello'
# Entire phrase 
'This is also a string'
# We can also use double quote
"String built with double quotes"

'String built with double quotes'

In [ ]:
# Be careful with quotes!
' I'm using single quotes, but this will create an error'

SyntaxError: ignored

Printing a String

In [ ]:
print('Ymir saved zeke , Eren seals him in paths')
print('Great Titan War is about to begin')
print('Falco will \n inherit Jaw titan from porco')
print('\n')
print('See what I mean? Go and read manga')

Ymir saved zeke , Eren seals him in paths
Great Titan War is about to begin
Falco will
 inherit Jaw titan from porco


See what I mean? Go and read manga

**String Indexing and Slicing**

We know strings are a sequence, which means Python can use indexes to call parts of the sequence. Let's learn how this works.

In Python, we use brackets <code>[]</code> after an object to call its index. We should also note that indexing starts at 0 for Python. Let's create a new object called <code>s</code> and then walk through a few examples of indexing.

In [ ]:
# Assign s as a string
s = 'Mikasa Ackerman frees the attack titan owner & helped ymir'
# Print the object
print(s)

Mikasa Ackerman frees the attack titan owner & helped ymir

In [ ]:
# Show first element (in this case a letter)
s[0]

'M'

In [ ]:
s[1]

'i'

We can use a <code>:</code> to perform *slicing* which grabs everything up to a designated point. For example:

In [ ]:
# Grab everything past the first term all the way to the length of s which is len(s)
s[1:]

'ikasa Ackerman frees the attack titan owner & helped ymir'

In [ ]:
# Note that there is no change to the original s
s

'Mikasa Ackerman frees the attack titan owner & helped ymir'

In [ ]:
# Grab everything UP TO the 3rd index
s[:3]

'Mik'

In [ ]:
#Everything
s[:]

'Mikasa Ackerman frees the attack titan owner & helped ymir'

We can also use negative indexing to go backwards.

In [ ]:
# Last letter (one index behind 0 so it loops back around)
s[-1]

'r'

In [ ]:
# Grab everything but the last letter
s[:-1]

'Mikasa Ackerman frees the attack titan owner & helped ymi'

We can also use index and slice notation to grab elements of a sequence by a specified step size (the default is 1). For instance we can use two colons in a row and then a number specifying the frequency to grab elements. For example:

In [ ]:
# Grab everything, but go in steps size of 1
s[::1]

'Mikasa Ackerman frees the attack titan owner & helped ymir'

In [ ]:
# Grab everything, but go in step sizes of 2
s[::2]

'Mks cemnfesteatc ia we  epdyi'

In [ ]:
# We can use this to print a string backwards
s[::-1]

'rimy depleh & renwo natit kcatta eht seerf namrekcA asakiM'

## String Properties
It's important to note that strings have an important property known as *immutability*. This means that once a string is created, the elements within it can not be changed or replaced. For example:

In [ ]:
s

'Mikasa Ackerman frees the attack titan owner & helped ymir'

In [ ]:
# Let's try to change the first letter to 'x'
s[0] = 'Armin'

TypeError: ignored

Notice how the error tells us directly what we can't do, change the item assignment!

Something we can do is concatenate strings!

In [ ]:
# Concatenate strings!
s + ' ,the founder!'

'Mikasa Ackerman frees the attack titan owner & helped ymir ,the founder!'

In [ ]:
# We can reassign s completely though!
s = s + ' ,the founder!'

In [ ]:
word = 'genjutsu '

In [ ]:
word*10

'genjutsu genjutsu genjutsu genjutsu genjutsu genjutsu genjutsu genjutsu genjutsu genjutsu '

## Basic Built-in String methods

Objects in Python usually have built-in methods. These methods are functions inside the object (we will learn about these in much more depth later) that can perform actions or commands on the object itself.

We call methods with a period and then the method name. Methods are in the form:

object.method(parameters)

Where parameters are extra arguments we can pass into the method. Don't worry if the details don't make 100% sense right now. Later on we will be creating our own objects and functions!

Here are some examples of built-in methods in strings:

In [ ]:
s

In [ ]:
# Upper Case a string
s.upper()

In [ ]:
# Lower case
s.lower()

In [ ]:
# Split a string by blank space (this is the default)
s.split()

In [ ]:
# Split by a specific element (doesn't include the element that was split on)
s.split('W')

## Print Formatting

We can use the .format() method to add formatted objects to printed string statements. 

The easiest way to show this is through an example:

In [ ]:
'Insert another string with curly brackets: {}'.format('The inserted string')

# String Formatting

String formatting lets you inject items into a string rather than trying to chain items together using commas or string concatenation. As a quick comparison, consider:

    player = 'Thomas'
    points = 33
    
    'Last night, '+player+' scored '+str(points)+' points.'  # concatenation
    
    f'Last night, {player} scored {points} points.'          # string formatting


There are three ways to perform string formatting.
* The oldest method involves placeholders using the modulo `%` character.
* An improved technique uses the `.format()` string method.
* The newest method, introduced with Python 3.6, uses formatted string literals, called *f-strings*.

Since you will likely encounter all three versions in someone else's code, we describe each of them here.

## Formatting with placeholders
You can use <code>%s</code> to inject strings into your print statements. The modulo `%` is referred to as a "string formatting operator".

In [ ]:
print("I'm going to inject %s here." %'something')

In [ ]:
#You can pass multiple items by placing them inside a tuple after the % operator.
print("I'm going to inject %s text here, and %s text here." %('some','more'))

In [ ]:
#You can also pass variable names:
x, y = 'some', 'more'
print("I'm going to inject %s text here, and %s text here."%(x,y))

### Format conversion methods.
It should be noted that two methods <code>%s</code> and <code>%r</code> convert any python object to a string using two separate methods: `str()` and `repr()`. We will learn more about these functions later on in the course, but you should note that `%r` and `repr()` deliver the *string representation* of the object, including quotation marks and any escape characters.

In [ ]:
print('Eren Jaegar possess %s.' %'founding Titan')
print('Eren Jaegar possess %r.' %'founding Titan')

He said his name was Fred.
He said his name was 'Fred'.

In [ ]:
#The `%s` operator converts whatever it sees into a string, including integers and floats. 
#The `%d` operator converts numbers to integers first, without rounding. Note the difference below:

print('AOT will release %s th episode in january.' %17.75)
print('AOT will release %d th episode in january.' %17.75)

AOT will release 17.75 th episode in january.
AOT will release 17 th episode in january.

### Padding and Precision of Floating Point Numbers
Floating point numbers use the format <code>%5.2f</code>. Here, <code>5</code> would be the minimum number of characters the string should contain; these may be padded with whitespace if the entire number does not have this many digits. Next to this, <code>.2f</code> stands for how many numbers to show past the decimal point. Let's see some examples:

In [ ]:
print('Floating point numbers: %5.2f' %(13.144))

In [ ]:
print('Floating point numbers: %1.0f' %(13.144))

In [ ]:
print('Floating point numbers: %1.21f' %(13.144))

Floating point numbers: 13.144000000000000127898

For more information on string formatting with placeholders visit https://docs.python.org/3/library/stdtypes.html#old-string-formatting


That's enough with strings for now ! Let's move to basic data structures like list, dictionary and tuples in python

















<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<br>

Content Sources : Pierian Data